@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Permanent+Marker');

// these can be used with map-get
$colors: (
  'backgroundPurple': #6C76DA,
  'defaultText': #FFFFFF,
  'darkText': #000000
);

$title-font: 'Permanent Marker', cursive;

$cw-font: 'Josefin Sans', sans-serif;